<header class="container text-center">
  <h1>Munch Da Burger</h1>
</header>
<div class="container">

  <div id="burger-input" class="row">
    <form>
      <div class="form-group">
        <label for="new-burger">Create Your Burger</label>
        <input type="text" class="form-control" id="burger-name" aria-describedby="burgerHelp"
          placeholder="Burger name">

        <div class="form-group">
          <label for="exampleFormControlSelect1">Example select</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option name="topping" value="0">Cow</option>
            <option name="topping" value="1">Tomatoes</option>
            <option name="topping" value="2">Lettuce</option>
            <option name="topping" value="3">Fried Egg</option>
            <option name="topping" value="4">Avocado</option>
            <option name="topping" value="5">Bacon</option>
          </select>
        </div>

        <div class="form-group">
          <label for="devoured">Devoured?</label><br>
          <input type="radio" name="devoured" value="1" checked>Already Devoured<br>
          <input type="radio" name="devoured" value="0"> Not devoured
        </div>

        <button id="submit-burger" type="button" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

  <div id="burgers" class="row">
    <div id="not-devoured" class="col-md-6">
      <h2>Burgers Ready for Devouring</h2>
      <ul class="list-group">

        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div id="devoured" class="col-md-6">
      <h2>Burgers Devoured</h2>

      <ul class="list-group">
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>